<div class="jumbotron mt-4 text-center">
  <h1 class="display-4">Quizzes Game</h1>
  <hr class="my-4">
  <p>You need to register to try to solve all quizzes</p>
  <a href="/users/signup" class="btn btn-primary" role="button" aria-pressed="true">Signup</a>
</div>