<div class="container">
    <div class="col-md-12 footer pt-4">
        <p><a href="https://www.zurimedina.com/" target="_blank">Zuri Medina</a> &copy;
            <script>document.write(new Date().getFullYear());</script>
        </p>
    </div>
</div>